<h1>My friends</h1>

<ul class="collection">
  <% @friends.each do |fr| %>
  <li class="collection-item"><%= link_to fr.name, user_path(fr.id) %>
      <%= button_to 'Remove friend', friend_path(fr.id),
          method: :delete, class: 'btn red'%>
  </li>
    <% end %>
</ul>


