<h3>Add to friends:</h3>
<% @incoming.each do |req| %>
  <p><%= req.user.name %>
    <% # ADD BUTTON FOR ACCEPT /UPDATE %>
  </p>
<% end %>


<h3>My requests:</h3>
<% @outgoing.each do |req| %>
  <p><%= req.friend.name %></p>
<% end %>