// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.displayed_comments{
  li{

    padding: 10px;
  }

  .comments{
    padding:10px;
    #comment_content{
      width: 60%;
    }
  }
}